/* Gloabal Style Start */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* Global Style End */
body {
    background-color: #B7B6B2;
}

#main-cv {
    width: 90%;
    margin: auto;
    border: 2px solid #949494;
    box-shadow: 0px 0px 50px #454545;
    border-radius: 3px;
}
#main-cv h3 {
    margin-bottom: 5px;
    text-decoration: underline;
    text-transform: uppercase;
}
.main-header {
    display: flex;
}
.left-content {
    flex-basis: 30%;
    padding: 20px;
    background-color: #E6E6E6;
}
.right-content {
    flex-basis: 100%;
    background-color: #FFFFFF;
}
.profile-header h2 {
    color: #194c50;
    margin-bottom: 10px;
}
.profile-header img {
    border-radius: 50%;
}
.profile-contect {
    margin-top: 10px;
}
.summery {
    padding: 20px;
}
.profile-expertience {
    margin-top: 20px;
}
.profile-expertience ul {
    margin-left: 20px;
}